<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/index-styles.css">
  </head>
  <body>
        <% if (locals.user) { %>
          <h1>Welcome <%= `${user.first_name} ${user.last_name}` %> to the app</h1>
        <% } %>

      <% if (locals.user) { %>  
        <a href="/message/create">Create a new Message</a> 
        <a href="/auth/logout">Logout</a>
        <% if (!locals.user.membership_status) { %>  
        <a href="/member">Become a Member</a>  <% } %>
        <% } %>
       
        <ul>
        <% if (locals.messages) { %>
         <% messages.forEach(message=>{%>
          <li>
            <div class="text"><%= message.message %></div>
           
             <% if (locals.user) { %>
             <% if(locals.user.membership_status || locals.user.isadmin) {%>
               <span>2
             <%= message.time %>
            </span>
              <div class="author"><%= message.email %></div>

              <% if(locals.user.isadmin) {%>
                
               <button class='delete' id='<%=message.id%>'>Delete</button>
                
                <%}%>
          <% }%>
          <% } %>
          </li>

        <% }) %>
         <% } %>
        
       </ul>
        <% if (!locals.user) { %>
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
          <% }%>
    
    
  </body>

  <script>
    document.querySelectorAll(".delete").forEach(element=>{
      element.addEventListener("click",async(event)=>{
        let messageId=event.target.id
      
      await fetch(`/message/delete/${messageId}`,{
        method:'DELETE'
      })
      window.location.reload();
    })
  })
  </script>
</html>
