<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/signup-styles.css">
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/auth/signup" method="post">
        
         <% if (locals.message) {%>
         <div><%=locals.message%></div>
        <% } %>

        <% if (locals.errors) {%>
         <ul>
            <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
            <% }); %>
         </ul>
        <% } %>
       
       <div class="wrapper">
         <label for="f-name">First Name:
             <input type="text" id="f-name" name="firstName"  value="<%- locals.formData?.firstName|| '' %>" required />
         </label>
   
      <label for="l-name">Last Name:
           <input type="text" id="l-name" name="lastName" value="<%- locals.formData?.lastName || '' %>"  required />
      </label>
       </div>
     
      <label for="email">Email:    <input type="email" name="email" id="email" value="<%- locals.formData?.email|| '' %>"  required /></label>
   
      <div class="wrapper">
        <label for="password">Password:  <input type="password" name="password" id="password" /></label>
      <label for="confirm-password">Confirm Password:  <input type="password" name="confirmPass" id="confirm-password" /></label>
      </div>
      

      <label for="isAdmin">Admin: <input type="checkbox" name="isAdmin" id="isAdmin"></label>
      <button type="submit">Sign Up</button>
    </form>

    <h3>Already have an account? <a href="/login">Login</a></h3>
  </body>
</html>
